
body {
    background-color: #FAF8F4;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
 }
 
 header {
    background-color: #433E36;
    color: #D7CA96;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px 35px;
 }
 
 .left-header {
    font-size: 25px;
    color: #D7CA96;
    margin: 0;
 }
 
 .right-header {
    display: flex;
    font-size: 17px;
 }
 
 img {
    width: 20px;
    height: 20px;
 }
 
 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
 }
 
 nav ul li {
    margin-right: 30px;
 }
 
 
 nav a {
    text-decoration: none;
    color: #D7CA96;
 }
 
 nav a:hover {
    color: #555;
 }
 
 
 
 
 main {
    padding: 80px;
 }
 
 
 main h2{
    font-size: 50px;
    font-weight: 100;
    color: #433E36;
    margin: 20px;
    border-bottom: 2px solid #D7CA96;
    display: inline-block;
    
 }

 main h3{
   font-size: 50px;
   font-weight: 100;
   color: #433E36;
   margin:1;
   border-bottom: 2px solid #D7CA96;
   display: inline-block;
   
} 



 .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    margin-top: -50px;
 }
 
 .profile-links {
    width:30%;
    height:30%;
    background-color: #FAF8F4;
    color:#433E36;
    text-align: flex-start;
    margin: 30px 10px;
    
}


.profile-links img {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   margin-top: 20px;
   margin-left:20px;
   margin-bottom:20px;
}

.profile-links li a {
    color: #433E36;
    text-decoration: none;
    padding:10px;
    display: inline-block;
    font-size: 20px;
}

.profile-links ul {
   list-style-type:none; 
   padding: 0; 
   margin: 0; 
}



.user_account{
   padding: 20px;
   margin: 0; 
   width: 60%;
   font-size: 20px;
   margin-right:70px;


}

.user_edit{
   margin-left: 400px;
   padding: 20px;
   width: 60%;
   font-size: 20px;
   margin-top: -540px;
}


.mt-custom {
   width: 100%;
   font-size: 20px;
   text-align: flex-start;
   
}


.text-justify {
    text-align: justify;
}

.form-group {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 20px;
   flex-basis: 70%;
   font-size: 25px;
   width: 100%;
   
}

.form-group input.custom-input {
   flex-basis: 70%;
   width: 100%;
   font-size: 18px;
   padding: 10px; 
   border: 2px solid #D7CA96; 
   margin-left:10px;
}

.form-group label {
   padding: 10px;
   flex-basis: 30%; 
   text-align: flex-start;
   font-size: 25px;
}

.form-group input {
   flex-basis: 70%; /* Adjust the width as needed */
}

 
.text-bar {
   background-color: #FAF8F4;
   color: #433E36;
   padding: 10px;
   display: inline-block;
   margin-bottom: 10px; 
   width:150%;
   margin-left:-10px;
 }
 
 .logout {
    color: #FAF8F4 !important;
    background-color: #D7CA96;
    display: block;
    padding: 10px;
    text-align:center ;
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.button {
   text-align:center !important;
   display: inline-block;
   padding: 15px;
   background-color: #D7CA96;
   color: #FAF8F4;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   text-decoration: none;
   transition: background-color 0.3s ease;
   width: 104%;
   margin-left:10px;
}

.button:hover {
   background-color: #433E36;
}