/* styles.css */


body {
    background-color: #FAF8F4;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
 }
 
 
 header {
    background-color: #433E36;
    color: #D7CA96;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px 10px;
 }
 
 
 .left-header {
    font-size: 20px;
    color: #D7CA96;
    margin: 0;
 }
 
 
 .right-header {
    display: flex;
    font-size: 16px;
 
 
 }
 
 
 img {
    width: 20px;
    height: 20px;
 }
 
 
 nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
 }
 
 
 nav ul li {
    margin-right: 30px;
 }
 
 
 nav a {
    text-decoration: none;
    color: #D7CA96;
 }
 
 
 nav a:hover {
    color: #555;
 }
 
 
 
 
 main {
    padding: 80px;
 }
 
 
 main h2{
    font-size: 35px;
    font-weight: 100;
    color: #433E36;
    margin: 20;
 }
 /* account_styles.css */
 .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Align the artists to the left and right */
    padding: 50px; /* Add space around the artists section */
 }
 
 .profile-links {
    width:30%;
    background-color: #46341b;
    color: #D7CA96;
    padding: 30px 20px;
    text-align: center;
    margin: 50px 70px 50px 70px;
    border-radius: 10px;
}

.profile-links img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 25px;
}

.profile-links li {
    display: block;
    margin: 10px 0;
}
.profile-links li a:hover {
    color: #D7CA96;
 }

.profile-links li a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
}

.user_account{
    padding:80px;
    margin: 40px;
    width: 30%;
}


.text-justify {
    text-align: justify;
}

.form-group {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   margin-bottom: 15px;
   margin: 20px;
}

.form-group label {
   flex-basis: 30%; 
   text-align: right;
   margin-right: 10px; 
}

.form-group input {
   flex-basis: 70%; /* Adjust the width as needed */
}

 
 
 
 