body {
    background-color: #FAF8F4;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
    
}

header {
    background-color: #433E36;
    color: #D7CA96;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px 10px;
}

.left-header {
    font-size: 20px;
    color: #D7CA96;
    margin: 0;
}

.right-header {
    display: flex;
    font-size: 16px;

}

img {
    width: 20px;
    height: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #D7CA96;
}

nav a:hover {
    color: #555;
}

.iframe{
    display:block;
    justify-content: center;
}

main {
    padding: 160px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../image/artistimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.art-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D7CA96;
  }

/* artistpage_styles.css */
  
/* Add this section for artist profiles */
.artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align the artists to the left and right */
    padding: 50px 50px 50px 50px; /* Add space around the artists section */
    

}

.artist {

    padding: 0px;
    margin: 60px; /* Remove the previous margin */
    text-align: center;
    background-color: #ffffff;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.5);
    border: 0px solid #887e6d; /* Add a border around each artist profile */
    box-sizing: border-box;
}

.artist img {

    width: 200px;
    height: 200px;
}

.artist p {
    margin: 20px 0;
    font-weight: bold;
    color: #433E36;
    text-align: left;
    font-family: 'Monaco';
}
