body {
    background-color: #FAF8F4;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
 }
 

 .sub-header {
    padding: 180px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../image/headerartwork3.webp");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.art-text {
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #D7CA96;
    letter-spacing: 0.15em;
  }
main{
    font-family: "Trebuchet MS",Arial,Sans-Serif;
    margin: 120px;
    line-height: 1.4em;
    letter-spacing: 0.1em;
}

main h3{
    font-size: 1.5rem;
    font-weight: bolder;
    color: rgb(39, 32, 11);
    margin: 0;
    padding-bottom: 15px;
}

main p{
    font-weight: 100;
    font-size: 1.2rem;
    color: rgb(39, 32, 11);
    margin: 0;
    padding-bottom: 15px;
}

main button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 20px;
    color: white;
    background-color: rgb(39, 32, 11);;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.sub-heading {
    font-weight: 200;
    color: #433E36;
    font-size: 1.25rem;
    margin: 0 0 50px;
    display: flex;
    align-items: center;
    position: relative;
    text-wrap: nowrap;
    
}
.sub-heading span{
    padding: 0 20px 0 0;
    opacity: 0.8;
}

.sub-heading:after{
    content:" ";
    height: 2px;
    width: 100%;
    background: #433E36;
    display: block;
    position: relative;
    opacity: 0.8;
  }
.artwork {
    display: grid;
    flex: none;
    gap: 64px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    grid-template-rows: repeat(auto,min-content);
    height: min-content;
    justify-content: center;
    overflow: visible;
    padding: 50px;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding-right: 40px;
    margin: 0 0 50px;
    box-sizing: border-box;
}

.art-piece {
    position: relative;
    text-align: center;
}
.art-piece a{
    text-decoration: none;
}

.image {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(67, 62, 54, 0.1);
    
}
.image:hover .text-fade {
    opacity: 1;
  }
  

.image img {
    width: auto; 
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.text-fade {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: beige;
}

.text{
    font-family: "Trebuchet MS",Arial,Sans-Serif;
    font-weight: bold;
    color: #433E36;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    text-decoration: none;
}


.image:hover .text-fade {
    height: 100%;    
}

.addtocart{
    color: #D7CA96;
    background-color: #433E36;
    padding: 16px 20px;
    border: none;
    text-decoration: 0;
    text-align: center;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    border-radius:10px;
}