body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main h1 {
    color: #433E36;
    padding: 10px;
    text-align: center;
}

section {
    margin-left:150px;
    margin-right:150px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #433E36;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #333;
    color: #D7CA96;
}

.image img {
    width: 50%;
    max-width: 100px;
    height: auto; 
    object-fit: cover; 
}

.total-section {
    text-align: right;
    margin-bottom: 10px;
}

.counter {
    width:fit-content;
    justify-content: center;
}

.counter-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #433E36;
    color: #D7CA96;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #D7CA96;
    user-select: none;
}

.checkout-section {
    text-align: right;
}

.checkout-btn {
    background-color: #433E36;
    color: #D7CA96;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.remove-btn {
    background-color: #433E36;
    color: #D7CA96;
    border: none;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #433E36;
}

