body {
    background-color: #FAF8F4;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto; 
}

main {
    padding: 20px;
    
}

main p {
    margin-top: 10px;
    font-style:oblique;
    font-size: 30px;
}

main h2 {
    padding: 20x;
    font-size: 80px;
    font-weight: 100;
    color: #D7CA96;
    margin-bottom: 50x;
    border-bottom: 2px solid #D7CA96;
}

main h3 {
    font-size: 35px;
    font-weight: 100;
    color: #FAF8F4;
    margin: 0;
    font-style: oblique;
}

main h4{
    font-size: 14px;
    font-weight: 100;
    color: #000;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
}

.exhibitions{
    display: grid;
    flex: none;
    gap: 20px;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(2,minmax(200px,1fr));
    grid-template-rows: repeat(2,min-content);
    height: min-content;
    justify-content: center;
    overflow: hidden;
    padding: 50px;
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.exhibition2 {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    
    
   
}

.container {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    display:flex ;
    
    
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(67, 62, 54, 1);
    overflow: hidden;
    width: auto;
    height: 0;
    transition: .5s ease;
    border-radius: 10px;
    opacity: 0;
    
   
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}




.container:hover .overlay {
    height: 100%;
    opacity: 1;
    animation-delay: 0.5s;
}

.text {
    color: #FAF8F4;
    font-size: 25px;
    font-weight: 100;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    
    
}

.buy-ticket {
    background-color: #D7CA96;
    color: #433E36;
    padding: 16px 20px;
    border: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    border-radius:10px;
    width:30%;
    margin:0 32.5%;
}

.buy-ticket a{
    text-decoration: none;
    color: #433E36;
}

.image-ex {
    flex: 1;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.image-ex img {
    height: 400px;
    width: 100%;
    object-fit: cover; 
    border: 0.5px solid #433E36;
    border-radius: 10px;
}

