body {
    background-color: #FAF8F4;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    background-color: #433E36;
    color: #D7CA96;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5px 10px;
}

.left-header {
    font-size: 20px;
    color: #D7CA96;
    margin: 0;
}

.right-header {
    display: flex;
    font-size: 16px;
}

img {
    width: 20px;
    height: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 30px;
}

nav a {
    text-decoration: none;
    color: #D7CA96;
}

nav a:hover {
    color: #555;
}

main {
    padding: 20px;
}

main h2 {
    padding: 40x;
    font-size: 80px;
    font-weight: 100;
    color: #D7CA96;
    margin-bottom: 20x;
    border-bottom: 2px solid #D7CA96;
}

main h3 {
    font-size: 30px;
    font-weight: 100;
    color: #FAF8F4;
    margin: 0;
}

main h4{
    font-size: 14px;
    font-weight: 100;
    color: #000;
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
}

.exhibition2 {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    justify-content: space-between;
}

.container {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(67, 62, 54, 1);
    /* Adjust the background color and opacity as needed */
    overflow: hidden;
    width: auto;
    height: 0;
    transition: .5s ease;
    border-radius: 10px;
    opacity: 0;
    margin-left: 100px;
}

.container:hover .overlay {
    height: 100%;
    opacity: 1;
}

.text {
    color: #FAF8F4;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 20px;
}

.buy-ticket {
    background-color: #D7CA96;
    color: #433E36;
    padding: 10px 20px;
    border: 2px solid #433E36;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.image-ex {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 100px;
}

.image-ex img {
    height: auto;
    width: 500px;
    border: 0.5px solid #433E36;
    border-radius: 10px;
}
